:root {
  --80-font-family: "Mplus1p-Medium", Helvetica;
  --80-font-size: 80px;
  --80-font-style: normal;
  --80-font-weight: 500;
  --80-letter-spacing: -2.4px;
  --80-line-height: 85px;
  --h3-24-m-PLUS-1-font-family: "MPLUS 1-Regular", Helvetica;
  --h3-24-m-PLUS-1-font-size: 24px;
  --h3-24-m-PLUS-1-font-style: normal;
  --h3-24-m-PLUS-1-font-weight: 400;
  --h3-24-m-PLUS-1-letter-spacing: 0px;
  --h3-24-m-PLUS-1-line-height: 35px;
  --txt-16-mplus-1p-font-family: "Mplus1p-Regular", Helvetica;
  --txt-16-mplus-1p-font-size: 16px;
  --txt-16-mplus-1p-font-style: normal;
  --txt-16-mplus-1p-font-weight: 400;
  --txt-16-mplus-1p-letter-spacing: .16px;
  --txt-16-mplus-1p-line-height: normal;
  --white: #fff;
}



* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.desktop {
  background-color: #0b0a0d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #0b0a0d;
  height: 3296px;
  position: relative;
  width: 1440px;
}

.desktop .frame {
  align-items: flex-start;
  display: inline-flex;
  gap: 30px;
  left: 354px;
  position: absolute;
  top: 70px;
}

.desktop .view {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.desktop .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px 0px;
  position: relative;
}

.desktop .text-wrapper {
  color: var(--white);
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  cursor: pointer;
  
}

.desktop .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden; /* скрыть часть линии до начала анимации */
}

.desktop  .text-wrapper::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.desktop .text-wrapper:hover::after {
  width: 100%; /* увеличиваем ширину линии до 100% */
  background: #FFF;
}

.desktop .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 20px 0px;
  position: relative;
}

.desktop .text-wrapper-2 {
  color: var(--white);
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.desktop .text-wrapper-2 {
  position: relative;
  display: inline-block;
  overflow: hidden; /* скрыть часть линии до начала анимации */
}

.desktop  .text-wrapper-2::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.desktop .text-wrapper-2:hover::after {
  width: 100%; /* увеличиваем ширину линии до 100% */
  background: #FFF;
}

.desktop .slider {
  border-radius: 6px;
  height: 650px;
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 212px;
  width: 1240px;
}



.desktop .text-wrapper-5 {
  color: var(--white);
  font-family: var(--80-font-family);
  font-size: var(--80-font-size);
  font-style: var(--80-font-style);
  font-weight: var(--80-font-weight);
  left: 50px;
  letter-spacing: var(--80-letter-spacing);
  line-height: var(--80-line-height);
  position: absolute;
  top: 405px;
  width: 872px;
}

.desktop .text-wrapper-6 {
  color: var(--white);
  font-family: var(--txt-16-mplus-1p-font-family);
  font-size: var(--txt-16-mplus-1p-font-size);
  font-style: var(--txt-16-mplus-1p-font-style);
  font-weight: var(--txt-16-mplus-1p-font-weight);
  left: 50px;
  letter-spacing: var(--txt-16-mplus-1p-letter-spacing);
  line-height: var(--txt-16-mplus-1p-line-height);
  position: absolute;
  top: 510px;
  width: 524px;
}

.desktop .btn{
  height: 40px;
  left: 602px;
  position: absolute;
  top: 917px;
  width: 235px;
}

.desktop #overlap-2 {
  height: 363px;
  left: 100px;
  position: absolute;
  top: 1107px;
  width: 1250px;
}

.desktop .faq {
  height: 363px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1250px;
}

.desktop .text-wrapper-7 {
  color: var(--white);
  font-family: var(--80-font-family);
  font-size: var(--80-font-size);
  font-style: var(--80-font-style);
  font-weight: var(--80-font-weight);
  left: 0;
  letter-spacing: var(--80-letter-spacing);
  line-height: var(--80-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-8 {
  color: var(--white);
  font-family: var(--h3-24-m-PLUS-1-font-family);
  font-size: var(--h3-24-m-PLUS-1-font-size);
  font-style: var(--h3-24-m-PLUS-1-font-style);
  font-weight: var(--h3-24-m-PLUS-1-font-weight);
  left: 252px;
  letter-spacing: var(--h3-24-m-PLUS-1-letter-spacing);
  line-height: var(--h3-24-m-PLUS-1-line-height);
  position: absolute;
  top: 30px;
  white-space: nowrap;
  cursor: pointer;
}

.desktop .element-3 {
  color: var(--white);
  font-family: var(--txt-16-mplus-1p-font-family);
  font-size: var(--txt-16-mplus-1p-font-size);
  font-style: var(--txt-16-mplus-1p-font-style);
  font-weight: var(--txt-16-mplus-1p-font-weight);
  left: 252px;
  letter-spacing: var(--txt-16-mplus-1p-letter-spacing);
  line-height: var(--txt-16-mplus-1p-line-height);
  position: absolute;
  top: 95px;
  width: 988px;
}



.desktop .text-wrapper-9 {
  color: var(--white);
  font-family: var(--h3-24-m-PLUS-1-font-family);
  font-size: var(--h3-24-m-PLUS-1-font-size);
  font-style: var(--h3-24-m-PLUS-1-font-style);
  font-weight: var(--h3-24-m-PLUS-1-font-weight);
  left: 252px;
  letter-spacing: var(--h3-24-m-PLUS-1-letter-spacing);
  line-height: var(--h3-24-m-PLUS-1-line-height);
  position: absolute;
  top: 154px;
  width: 564px;
  cursor: pointer;
}

.desktop .text-wrapper-10 {
  color: var(--white);
  font-family: var(--h3-24-m-PLUS-1-font-family);
  font-size: var(--h3-24-m-PLUS-1-font-size);
  font-style: var(--h3-24-m-PLUS-1-font-style);
  font-weight: var(--h3-24-m-PLUS-1-font-weight);
  left: 252px;
  letter-spacing: var(--h3-24-m-PLUS-1-letter-spacing);
  line-height: var(--h3-24-m-PLUS-1-line-height);
  position: absolute;
  top: 298px;
  width: 594px;
  cursor: pointer;
}

.desktop .line {
  height: 1px;
  left: 252px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 986px;
  background: #FFF;
}

.desktop .line-2 {
  height: 1px;
  left: 252px;
  object-fit: cover;
  position: absolute;
  top: 172px;
  width: 986px;
  background: #FFF;
}

.desktop .line-3 {
  height: 1px;
  left: 252px;
  object-fit: cover;
  position: absolute;
  top: 241px;
  width: 986px;
  background: #FFF;
}

.desktop .line-4 {
  height: 1px;
  left: 252px;
  object-fit: cover;
  position: absolute;
  top: 362px;
  width: 986px;
  background: #FFF;
}



.desktop .text-wrapper-11 {
  color: var(--white);
  font-family: var(--h3-24-m-PLUS-1-font-family);
  font-size: var(--h3-24-m-PLUS-1-font-size);
  font-style: var(--h3-24-m-PLUS-1-font-style);
  font-weight: var(--h3-24-m-PLUS-1-font-weight);
  left: 0;
  letter-spacing: var(--h3-24-m-PLUS-1-letter-spacing);
  line-height: var(--h3-24-m-PLUS-1-line-height);
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.desktop .element-4 {
  color: var(--white);
  font-family: "Mplus 1p-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 252px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 195px;
  width: 988px;
}

.desktop .element-4_1 {
  color: var(--white);
  font-family: "Mplus 1p-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 252px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 320px;
  width: 988px;
}




.desktop .text-wrapper-12 {
  color: var(--white);
  font-family: var(--h3-24-m-PLUS-1-font-family);
  font-size: var(--h3-24-m-PLUS-1-font-size);
  font-style: var(--h3-24-m-PLUS-1-font-style);
  font-weight: var(--h3-24-m-PLUS-1-font-weight);
  left: 0;
  letter-spacing: var(--h3-24-m-PLUS-1-letter-spacing);
  line-height: var(--h3-24-m-PLUS-1-line-height);
  position: absolute;
  top: 203px;
  width: 564px;
}

.desktop .text-wrapper-13 {
  color: var(--white);
  font-family: var(--h3-24-m-PLUS-1-font-family);
  font-size: var(--h3-24-m-PLUS-1-font-size);
  font-style: var(--h3-24-m-PLUS-1-font-style);
  font-weight: var(--h3-24-m-PLUS-1-font-weight);
  left: 0;
  letter-spacing: var(--h3-24-m-PLUS-1-letter-spacing);
  line-height: var(--h3-24-m-PLUS-1-line-height);
  position: absolute;
  top: 298px;
  width: 594px;
}

 

.desktop .text-wrapper-14 {
  color: var(--white);
  font-family: var(--80-font-family);
  font-size: var(--80-font-size);
  font-style: var(--80-font-style);
  font-weight: var(--80-font-weight);
  left: 100px;
  letter-spacing: var(--80-letter-spacing);
  line-height: var(--80-line-height);
  position: absolute;
  top: 1569px;
  white-space: nowrap;
}

.desktop .element-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 520px;
  position: absolute;
  top: 1685px;
  width: 400px;
}

.desktop .unsplash-qw {
  align-self: stretch;
  height: 264px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.desktop .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.desktop .text-wrapper-15 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.desktop .text-wrapper-16 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.desktop .element-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 520px;
  position: absolute;
  top: 2105px;
  width: 400px;
}

.desktop .element-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 100px;
  position: absolute;
  top: 1685px;
  width: 400px;
}

.desktop .element-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 100px;
  position: absolute;
  top: 2105px;
  width: 400px;
}

.desktop .element-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 940px;
  position: absolute;
  top: 1685px;
  width: 400px;
}

.desktop .box_mob{
  display: none;
}

.desktop .element-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 940px;
  position: absolute;
  top: 2105px;
  width: 400px;
}

.desktop .view-2 {
  background-color: #ffffff;
  height: 460px;
  left: 0;
  position: absolute;
  top: 2584px;
  width: 1440px;
}

.desktop .text-wrapper-17 {
  color: #0b0a0d;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 80px;
  font-weight: 500;
  left: 100px;
  letter-spacing: -2.4px;
  line-height: 85px;
  position: absolute;
  top: 49px;
  white-space: nowrap;
}

.desktop .text-wrapper-18 {
  color: #0b0a0d;
  font-family: "Mplus 1p-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 100px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 153px;
  width: 400px;
}

.desktop .input-default {
  align-items: center;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 100px;
  padding: 14px 15px 16px 20px;
  position: absolute;
  top: 220px;
  width: 400px;
}

.desktop .text-wrapper-19 {
  color: #00000099;
  flex: 1;
  font-family: "Mplus 1p-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
}

.desktop .input-default-2 {
  align-items: center;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 100px;
  padding: 14px 15px 16px 20px;
  position: absolute;
  top: 290px;
  width: 400px;
}

.desktop .input-default-3 {
  align-items: center;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 520px;
  padding: 14px 15px 16px 20px;
  position: absolute;
  top: 220px;
  width: 400px;
}

.desktop .input-default-4 {
  align-items: center;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 520px;
  padding: 14px 15px 16px 20px;
  position: absolute;
  top: 290px;
  width: 400px;
}

.desktop .button-default {
  align-items: center;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 100px;
  padding: 14px 20px 16px;
  position: absolute;
  top: 360px;
  cursor: pointer;
}

.button-default:hover{
  background: #75FF72;
}

.desktop .text-wrapper-20 {
  color: #0b0a0d;
  font-family: "Mplus 1p-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .footer {
  background-color: #312f35;
  height: 252px;
  left: 0;
  position: absolute;
  top: 3044px;
  width: 1440px;
}

.desktop .frame-4 {
  align-items: center;
  display: inline-flex;
  gap: 30px;
  justify-content: center;
  left: 619px;
  position: absolute;
  top: 54px;
}

.desktop .icon-instance-node {
  height: 27.9px !important;
  position: relative !important;
  width: 27.9px !important;
}

.desktop .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 100px;
  position: absolute;
  top: 50px;
  width: 400px;
}

.desktop .frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 100px;
  position: absolute;
  top: 151px;
  width: 400px;
}

.desktop .text-wrapper-21 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
}

.desktop .logo {
  height: 50px;
  left: 100px;
  position: absolute;
  top: 77px;
  width: 42px;
}

.box {
  height: 288px;
  width: 1440px;
}

.box .menu-bg {
  background-color: #0b0a0d;
  height: 288px;
  left: 0;
  position: absolute;
  top: 210px;
  width: 1440px;
  z-index: 1;
}

.overlay {
  background-color: #00000066;
  height: 2795px;
  left: 0;
  position: absolute;
  top: 497px;
  width: 1440px;
  z-index: 1;
}

.label {
  height: 21px;
  width: 110px;
}

.label .text-wrapper {
  color: #ffffff;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 352px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.text-wrapper1 {
  color: #ffffff;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 352px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 92px;
}

.desktop .img_mob{
  display: none;
}

.desktop .carousel{
  display: none;
}

@media only screen and (max-width: 768px) {
   .desktop .div {
    background-color: #0b0a0d;
    width: 320px;
    height: 2915px;
    position: relative;
  }

  .desktop .carousel{
    display: block;
    position: relative;
    top: 866px;
  }

  .desktop .news{
    display: none;
  }


  .desktop .logo {
    width: 42px;
    height: 50px;
    position: absolute;
    top: 35px;
    left: 15px;
  }

  .b {
    width: 36px;
    height: 24px;
    position: absolute;
    top: 48px;
    left: 269px;
  }

  .b .b-2 {
    height: 24px;
    position: relative;
  }

  .b .rectangle {
    background-color: #fff;
    width: 36px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .b .rectangle-2 {
    background-color: #fff;
    width: 36px;
    height: 3px;
    position: absolute;
    top: 10px;
    left: 0;
  }
  
  .b  .rectangle-3 {
    background-color: #fff;
    width: 18px;
    height: 3px;
    position: absolute;
    top: 21px;
    left: 18px;
  }

  .desktop .slider{
    border-radius: 6px;
    width: 290px;
    height: 450px;
    position: absolute;
    top: 150px;
    left: 15px;
    /* overflow-x: scroll; */
  }

  .desktop .btn{
    width: 235px;
    height: 40px;
    position: absolute;
    top: 620px;
    left: 42px;
  }

  .desktop .img_desktop{
    display: none;
  }

  .desktop #mob{
    display: block;
    object-fit: cover;
  }

  .slider img {
    object-fit: cover;
    position: absolute;
    background-position: 50%;
  }  

  .desktop #overlap-2 {
   /*  width: 292px;
    height: 634px;
    position: absolute;
    top: 740px;
    left: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex; */
    display: none;
    
}

.desktop .frame2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
  position: absolute;
  top: 105px;
  left: 0;
}

.desktop .text-wrapper-7 {
  color: var(--white);
  letter-spacing: -1.2px;
  width: 290px;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  line-height: 85px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .box_mob{
  display: block;
}

.box_mob {
  height: 634px;
  position: relative;
  width: 290px;
}

.box_mob .faq_mob {
  height: 634px;
  left: 25px;
  position: absolute;
  top: 671px;
  width: 292px;
}

.box_mob .text-wrapper_mob {
  color: #ffffff;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 0;
  letter-spacing: -1.2px;
  line-height: 85px;
  position: absolute;
  top: 0;
  width: 290px;
}

.box_mob .frame_mob {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  position: absolute;
  top: 105px;
}

.box_mob .line_mob {
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
  position: relative;
  width: 290px;
}

.box_mob .div_mob {
  color: #ffffff;
  font-family: "M PLUS 1-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 35px;
  position: relative;
  width: 290px;
}

.box_mob .element_mob {
  color: #ffffff;
  font-family: "Mplus 1p-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 290px;
}

.box_mob .img_mob {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 290px;
}

.desktop .text-wrapper-14 {
  color: var(--white);
  letter-spacing: -1.2px;
  white-space: nowrap;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  line-height: 85px;
  position: absolute;
  top: 1307px;
  left: 11px;
}

.desktop .view-2 {
  background-color: #fff;
  width: 320px;
  height: 525px;
  position: absolute;
  top: 1949px;
  left: 0;
}  

.desktop .text-wrapper-17 {
  color: #0b0a0d;
  letter-spacing: -1.2px;
  white-space: nowrap;
  font-family: "Mplus 1p-Medium", Helvetica;
  font-size: 40px;
  font-weight: 500;
  line-height: 85px;
  position: absolute;
  top: 29px;
  left: 11px;
}  

.desktop .text-wrapper-18 {
  color: #0b0a0d;
  letter-spacing: 0;
  width: 275px;
  font-family: "Mplus 1p-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  top: 134px;
  left: 15px;
}

.desktop .input-default {
  width: 90%;
  left: 16px;
}

.desktop .input-default-2 {
  width: 90%;
  left: 16px;
  top: 277px;
}

.desktop .input-default-4 {
  width: 90%;
  left: 16px;
  top: 394px;
}

.desktop .input-default-3 {
  width: 90%;
  left: 16px;
  top: 335px;
}

.desktop .button-default {
  left: 17px;
  position: absolute;
  top: 449px;
  
}

.desktop .footer {
  background-color: #312f35;
  width: 320px;
  height: 438px;
  position: absolute;
  top: 2476px;
  left: 0;
}

.desktop .text-wrapper-15 {
  position: relative;
  left: -73px;
  top: 80px;
}

.desktop  .text-wrapper-16 {
  position: relative;
  top: 85px;
  left: -73px;
  width: 274px;
}

.desktop .text-wrapper-21 {
  top: 76px;
  left: -73px;
}

.desktop .frame-4 {
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: inline-flex;
  position: absolute;
  top: 286px;
  left: 59px;
}

.box {
  height: 644px;
  width: 250px;
}

.box .menu-bg {
  background-color: #0b0a0d;
  height: 503px;
  position: absolute;
  width: 256px;
  top: 146px;
  left: 63px;
}

.overlay {
  background-color: #00000066;
  height: 2795px;
  left: 0;
  position: absolute;
  top: 134px;
  width: 320px;
  z-index: 1;
}

body.no-scroll {
  overflow: hidden;
}


}